WebBuying_TGP/WebBuying_TGP/Edge.NewWeb/Web References/SVAWebReference/SVAWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://svawebservice.tap.org" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://svawebservice.tap.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>SVAWebService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://svawebservice.tap.org">
      <xs:element name="request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="hexStr" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="hexKey" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="requestResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="requestRequest">
    <wsdl:part name="parameters" element="ns:request" />
  </wsdl:message>
  <wsdl:message name="requestResponse">
    <wsdl:part name="parameters" element="ns:requestResponse" />
  </wsdl:message>
  <wsdl:portType name="SVAWebServicePortType">
    <wsdl:operation name="request">
      <wsdl:input wsaw:Action="urn:request" message="ns:requestRequest" />
      <wsdl:output wsaw:Action="urn:requestResponse" message="ns:requestResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SVAWebServiceSoap11Binding" type="ns:SVAWebServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="request">
      <soap:operation soapAction="urn:request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SVAWebServiceSoap12Binding" type="ns:SVAWebServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="request">
      <soap12:operation soapAction="urn:request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SVAWebServiceHttpBinding" type="ns:SVAWebServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="request">
      <http:operation location="request" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SVAWebService">
    <wsdl:port name="SVAWebServiceHttpSoap11Endpoint" binding="ns:SVAWebServiceSoap11Binding">
      <soap:address location="http://172.16.64.27:8084/SVAWebService/services/SVAWebService.SVAWebServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SVAWebServiceHttpSoap12Endpoint" binding="ns:SVAWebServiceSoap12Binding">
      <soap12:address location="http://172.16.64.27:8084/SVAWebService/services/SVAWebService.SVAWebServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SVAWebServiceHttpEndpoint" binding="ns:SVAWebServiceHttpBinding">
      <http:address location="http://172.16.64.27:8084/SVAWebService/services/SVAWebService.SVAWebServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>